.addCommentsDiv {
  border: 0.3px solid rgba(221, 210, 255, 1);
  background-color: rgba(248, 243, 254, 0.65);
  width: 741px;
  padding: 40px 45px 52px 40px;
  border-radius: 10px;
}
.addCommentsForm {
  margin-bottom: 66px;
}
.addReplyForm {
  margin-bottom: 20px;
}
.commentsDiv,
.ReplyDiv {
  background-color: #fff;
  border: 0.3px solid rgba(173, 181, 189, 1);
  padding: 18px 20px 15px 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-radius: 10px;
}
.commentsDiv {
  width: 651px;
  height: 135px;
}
.ReplyDiv {
  width: 598px;
  height: 110px;
}
.commentTextarea {
  outline: none;
  border: none;
  resize: none;
  flex-grow: 1;
  background-color: rgba(255, 255, 255, 1);
}
.commentTextarea::placeholder {
  color: rgba(137, 137, 137, 1);
  font-family: inherit;
  font-weight: 350;
  font-size: 14px;
}
.submitButton,
.ReplySubmitButton {
  align-self: flex-end;
  background-color: rgba(131, 56, 236, 1);
  border-radius: 20px;
  padding: 8px 20px;
  border: none;
  color: rgba(255, 255, 255, 1);
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
}
.ReplySubmitButton {
  padding: 6px 15px;
}

.submitButton:hover,
.ReplySubmitButton:hover {
  cursor: pointer;
  background-color: rgba(181, 136, 244, 1);
}
.headingDiv {
  margin-bottom: 40px;
}
.commentsPara {
  font-weight: 500;
  font-family: inherit;
  font-size: 20px;
  color: rgba(0, 0, 0, 1);
}

.commentsAmount {
  display: inline-block;
  padding: 3px 10px;
  background-color: rgba(131, 56, 236, 1);
  border-radius: 30px;
  color: rgba(255, 255, 255, 1);
  font-weight: 500;
  font-size: 14px;
  margin-left: 7px;
}
.renderedCommentsDiv {
}
.renderedCommentsUl {
}
.eachrenderedCommentsList,
.eachrenderedReplyList {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
}
.eachrenderedReplyList {
  margin-bottom: 20px;
  gap: 11px;
}
.commentsAvatarDiv {
}
.commentsAvatar,
.replyAvatar {
  width: 38px;
  height: 38px;
  border-radius: 40px;
}
.commentsdescription {
}
.authorName {
  color: rgba(33, 37, 41, 1);
  font-weight: 500;
  font-size: 18px;
  font-family: inherit;
}
.commentText {
  margin: 8px 0 10px 0;
  color: rgba(52, 58, 64, 1);
  font-weight: 350;
  font-size: 16px;
  font-family: inherit;
  width: 548px;
}
.replyBtn {
  background-color: inherit;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  margin-bottom: 20px;
}
.replyBtn:hover {
  cursor: pointer;
}
.replyIcon {
  width: 16px;
  height: 16px;
}
.replySpan {
  color: rgba(131, 56, 236, 1);
  font-weight: 400;
  font-size: 12px;
  font-family: inherit;
}
.replyauthorName {
  color: rgba(2, 21, 38, 1);
  font-weight: 500;
  font-size: 18px;
  font-family: inherit;
}
.replyText {
  color: rgba(2, 21, 38, 1);
  font-weight: 400;
  font-size: 16px;
  font-family: inherit;
}
