.section {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(13, 15, 16, 0.15);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.sectionDiv {
  width: 913px;
  /* height: 766px; */
  max-height: 90vh;
  overflow-y: auto;
  scrollbar-width: thin;
  border-radius: 10px;
  background-color: #fff;
  position: absolute;
  top: 118px;
  left: 503px;
  padding: 40px 50px 60px 50px;
}
.mainCancelDiv {
  margin-bottom: 37px;
}
.cancelDiv {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.cancelBtn {
  background-color: #fff;
  border: none;
}
.cancelBtn:hover {
  cursor: pointer;
}
.cancelImg {
  width: 40px;
  height: 40px;
}

.addEmployeeDiv {
  margin-bottom: 45px;
}
.addEmployeePara {
  height: 38px;
  text-align: center;
  font-family: "FiraGO", sans-serif;
  font-weight: 500;
  font-size: 32px;
  color: #212529;
}
.nameSurnameDiv {
  display: flex;
  gap: 45px;
  margin-bottom: 45px;
}
.nameDiv,
.surnameDiv {
  display: flex;
  flex-direction: column;
}

.nameSpan,
.surnameSpan,
.departmentSpan {
  display: inline-block;
  margin-bottom: 3px;
  font-weight: 500;
  font-size: 14px;
  color: #343a40;
}
.avatarSpan {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 14px;
  color: #343a40;
}
.nameImg,
.surnameImg,
.avatarImg,
.departmentImg {
  width: 8px;
  height: 8px;
  margin-bottom: 4px;
}
.nameInput,
.surnameInput {
  border-radius: 6px;
  border: 1px solid #ced4da;
  outline: none;
  background-color: #fff;
  padding: 10px;
  margin-bottom: 6px;
  width: 384px;
  height: 42px;
  font-weight: 350;
  font-size: 14px;
  line-height: 100%;
  color: #212529;
}
.nameInput:focus,
.surnameInput:focus {
  border: 1px solid #ced4da;
}
.firstError,
.secondError {
  margin-bottom: 2px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2px;
}
.errorTick {
  width: 16px;
  height: 16px;
}
.errorSpanOriginal {
  font-weight: 350;
  font-size: 10px;
  color: #6c757d;
}
.errorSpanRed {
  font-weight: 350;
  font-size: 10px;
  color: #fa4d4d;
}
.errorSpanGreen {
  font-weight: 350;
  font-size: 10px;
  color: #08a508;
}
.hiddenInput {
  display: none;
}
.avatarLabel {
  margin-bottom: 8px;
}

.customFileUpload {
  width: 813px;
  height: 120px;
  border-radius: 8px;
  border: 1px dashed #ced4da;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 6px;
}
.department {
  margin-top: 45px;
  margin-bottom: 65px;
}

.selectDiv {
  position: relative;
  width: 384px;
}

.select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 42px;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ced4da;
  cursor: pointer;
  background-color: #fff;
}

.openSelect {
  border: 1px solid #8338ec;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
}

.arrowIcon {
  width: 14px;
  height: 14px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.1s ease;
  pointer-events: none;
}

.rotate {
  transform: translateY(-50%) rotate(180deg);
}

/* .optionsList {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  margin: 1px 0 0;
  padding: 0 14px;
  list-style: none;
  background-color: white;
  border: 1px solid #8338ec;
  border-radius: 5px;
  z-index: 10;
} */
.optionsList {
  border: 1px solid #8338ec;
  z-index: 10;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 0 14px;
  list-style: none;
  background-color: white;
  border: 1px solid #8338ec;
  border-top: none;
  border-radius: 0 0 5px 5px;
}

.optionItem {
  padding: 14px 0;
  cursor: pointer;
  /* transition: background-color 0.2s ease; */
  font-size: 14px;
  font-weight: 300;
  color: #0d0f10;
}

/* .optionItem:hover {
  background-color: #f1f1f1;
} */
.buttonDiv {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 22px;
}
.cancelBtnBelow {
  border: 1px solid #8338ec;
  padding: 10px 16px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 400;
  color: #343a40;
  background-color: inherit;
}
.cancelBtnBelow:hover {
  border: 1px solid #b588f4;
  cursor: pointer;
}
.submitBtn {
  border: none;
  background-color: #8338ec;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
}
.submitBtn:hover {
  background-color: #b588f4;
  cursor: pointer;
}
.previewContainer {
  position: relative;
}
.previewImg {
  width: 88px;
  height: 88px;
  border-radius: 100px;
}
.deleteButton {
  position: absolute;
  bottom: 1%;
  right: -2%;
  border: 1px solid #6c757d;
  background-color: #fff;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
.uploadButton {
  border: none;
  background-color: #fff;
}
.uploadButton:hover {
  cursor: pointer;
}
.deleteButton:hover {
  cursor: pointer;
}
.deleteIcon {
  width: 14px;
  height: 14px;
}
.beforeUploadContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-top: 20px;
}
.beforeUploadIcon {
  margin: 2px 5px;
  width: 24px;
  height: 24px;
}
.uploadText {
  color: #343a40;
  font-size: 14px;
  font-weight: 400;
}
