.dateDiv {
}
.departmentLabel {
  margin-bottom: 6px;
}
.departmentSpan {
  font-weight: 400;
  font-size: 16px;
  color: #343a40;
  line-height: 100%;
}
.departmentImg {
  width: 8px;
  height: 8px;
  margin-bottom: 4px;
}
.dateInput {
  outline: none;
  background-color: #fff;
}

.dateInput::placeholder {
}
.MuiInputBase input {
  width: 1000px;
}

:global(.MuiFormControl-root) {
  width: 318px;
  height: 45px;
  border-radius: 5px;
  border: 1px solid rgba(222, 226, 230, 1) !important;
  outline: none !important;
  box-shadow: none !important;
  transition: none !important;
}
:global(.MuiInputBase-root) {
  height: inherit;
  padding: 0;
  padding: 14px !important;
  display: flex;
  justify-content: flex-start;
  align-items: center in !important;
  outline: none !important;
  box-shadow: none !important;
  transition: none !important;
}
/* :global(.MuiFormControl-root.Mui-focused),
:global(.MuiInputBase-root.Mui-focused) {
  outline: none !important;
  box-shadow: none !important;
}
:global(.MuiFormControl-root:hover),
:global(.MuiInputBase-root:hover) {
  outline: none !important;
  box-shadow: none !important;
} */
:global(.MuiInputBase-input) {
  color: rgba(173, 181, 189, 1) !important;
  font-family: inherit;
  font-size: 14px;
  line-height: 20px;
  height: 20px !important;
}
:global(.MuiInputAdornment-root) {
  height: 16px;
  width: 16px;
  margin-right: 0 !important;
  margin-right: 6px !important;
}

.dateIcon {
  height: 16px;
  width: 16px;
}

:global(.MuiFormControl-root),
:global(.MuiInputBase-root),
:global(.MuiOutlinedInput-root) {
  outline: none !important;
  box-shadow: none !important;
  transition: none !important;
}

:global(.MuiOutlinedInput-notchedOutline) {
  border: none !important;
}

/* :global(.MuiFormControl-root.Mui-focused),
:global(.MuiInputBase-root.Mui-focused),
:global(.MuiOutlinedInput-root.Mui-focused) {
  border: 1px solid rgba(222, 226, 230, 1) !important;
  outline: none !important;
  box-shadow: none !important;
}

:global(.MuiFormControl-root:hover),
:global(.MuiInputBase-root:hover),
:global(.MuiOutlinedInput-root:hover) {
  outline: none !important;
  box-shadow: none !important;
  border: 1px solid rgba(222, 226, 230, 1) !important;
}

:global(input:focus),
:global(.MuiInputBase-input:focus) {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
} */
.errorSpanOriginal {
  font-weight: 350;
  font-size: 10px;
  color: #6c757d;
}
.errorSpanRed {
  font-weight: 350;
  font-size: 10px;
  color: #fa4d4d;
}
.errorSpanGreen {
  font-weight: 350;
  font-size: 10px;
  color: #08a508;
}
